body {
	background: url(https://images.unsplash.com/photo-1568793097716-e410935d8fba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	background-size: cover;
	background-position: center;
	font-family: lato;
	color: white;
}

html {
	height: 100%;
}
#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}


h1 {
	font-weight: 700;
	font-size: 5em;
}

hr	{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #0000.2;
}