body{ 
border: 20px solid #f0d3e7; 
padding: 20px;
max-width: 700px;
width: 80%;
margin: 20px auto;
font-family: Dosis;
}

.quote {
	border-left: 5px solid #f0d3e7;
	padding-left: 5px;
}

.date {
	color: #ada5ab;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.post {
	margin-bottom: 20px;
}

h2	{
	color: #383437;
	font-size: 2.0rem;
}

hr	{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    color: #f0d3e7;
}