h1 {
	color: #BB59FF;
	/*border-color:	purple;
	border-width: 5px; 
	border-style: dotted; */

	border: 8px dashed rgb(255,100,80);
}



li {
	color: rgb(240,0,100);
}

h4 {
	background: rgb(255,100,80);
}
body {
	background: pink;

	/*background: url(https://i.pinimg.com/originals/b6/07/95/b60795007716db1797bf6245dda97361.jpg);
	background-size: cover; */
}