.jumbotron {
	color: white;
	background: #ecc7c8;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2), 
				 0px 1px 2px rgba(0,0,0,0.1), 
				 0px 0px 2px rgba(0,0,0,0.1);
}

body {
	font-family: lato;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

.navbar-inverse {
	background: #2c3e50;
}

.image1 {
  background-image: url(https://images.unsplash.com/photo-1517001657880-5608528ca7fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80);
}

.image2 {
  background-image: url(https://images.unsplash.com/photo-1507477338202-487281e6c27e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.image3 {
	background-image: url(https://images.unsplash.com/photo-1444464666168-49d633b86797?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
}

.image4 {
	background-image: url(https://images.unsplash.com/photo-1530205067371-4baf74246ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.image5 {
	background-image: url(https://images.unsplash.com/photo-1482211317141-14c8a4e628fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.image6 {
	background-image: url(https://images.unsplash.com/photo-1444465693019-aa0b6392460d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.image7 {
	background-image: url(https://images.unsplash.com/photo-1457014749444-4dfbbd2426d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.image8 {
	background-image: url(https://images.unsplash.com/uploads/141155339325423394b24/03982423?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}

.image9 {
	background-image: url(https://cdn.pixabay.com/photo/2015/09/02/13/02/pigeon-918848_1280.jpg);
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  transition: transform .5s;
  position: relative;
}

.image:hover {
  transform: scale(1.5) rotate(720deg);
 z-index: 9;

}